body{
    font-family: "Open Sans", sans-serif;
    background-color: #f9fafc;
    margin: 20px;
}

button{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    padding: 10px;
    color: #FFF;
    background-color: #000;
    border: none;
    border-radius: 180px;
}

a{
    text-decoration: none;
    color: #69696a;
    padding: 5px 0px;
}

footer{
    display:flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(247, 193, 162, 0.7);
    flex-direction: row;
    justify-content: space-between;
}

.footerNav{
margin: 10px;
}

.footerNav > a{
    padding: 10px;
}
.headerNav{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

p{
    border-left: 4px solid #69696a;
    padding: 0px 9px;
}

#chirpusHead1{
    font-size: medium;
}

#chirpusHead2{
    font-size: 1.75em;
    margin:20px 0px 10px;
}

#chirpusHead3{
    font-size: medium;
    margin: 10px;
}